#game {
    border: 1px solid black;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 600px;
    height: 600px;
    transform: translate(-50%, -50%);
    background: url('../images/background.png')
}
h1{
text-align: center;
margin-top: 0;
}

.title{
    display: flex;
    justify-content: space-around;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

